table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer {
    border-bottom: 1px solid #ddd !important;
}
.display-none {
    display: none;
}
tr.depot > td {
    background-color: #d9edf7;
}
tr.retrait > td {
    background-color: #fcf8e3;
}
.pointer {
    cursor: pointer;
}