body {
    background-color: #f2f2f2 !important;
}
table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer {
    border-bottom: 1px solid #ddd !important;
}
.display-none {
    display: none;
}
tr.depot > td {
    background-color: #d9edf7;
}
tr.retrait > td {
    background-color: #e57d81;
}
.pointer {
    cursor: pointer;
}
.center {
    text-align: center;
}
.tr-impair {
    background-color: #dddddd !important;
}